@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body{
	background-color: rgba(0 , 0, 0, 0.2);
	margin: 0;
	padding: 0;
	background: cover;
	
}
header{
	background: black;
	color: white;
	padding: 8px 0px 6px 40px;
	height: 45px;
}
header h1{
	display: inline;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px; 
}
nav ul{
	display: inline;
	padding: 0px;
	float: left;
	margin-right: 10px; 
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 12px;
}
nav ul li a{
	color: white;
	text-decoration: none;
}
#nav{
	font-family: 'Montserrat', sans-serif;
}
.homered:hover{
	background-color: blue;
	padding: 10px 10px 10px 10px;
}


.homeblack:hover {
	background-color: blue;
	padding: 10px 10px 10px 10px;
}
.homesub {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 9% 5% 0% 55%;
    font-size: 18px;
    color: yellow;
}
.homedes {
	font-family: 'Raleway', sans-serif;
	margin: 5% 5% 0% 55%;
	font-size: 55px;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	display: inline-block;
	text-align: center;
}
.buttonhome {
	margin: 0% 0% 0% 55%;
	background: yellow;
	color: black;
	border: none;
	height: 50px;
	font-size: 1.4em;
	padding: 0 1em;
	cursor: pointer;
	outline: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}
.container{
	max-width: 1040px;
	margin: auto;
	overflow: all;
	background-repeat: repeat;
}
.gallery
{
	margin: 5px;
	border:1px solid #ccc;
	float: right;
	width: 0px;
}
.galary img{
	width: 0%;
	height:0%;
}
.desc{
    padding:15px;
    text-align: center;
}
.ka {
	font-family: 'Raleway', sans-serif;
}